[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wordcloud = "*"
matplotlib = "*"
pandas = "*"
mecab-python3 = "*"
unidic-lite = "*"
janome = "*"

[dev-packages]

[requires]
python_version = "3.10"
